<% include header %>
			<form class="ui form" action="/" method="post">
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" rows="8" cols="80"></textarea>
				</div>
				<button type="submit" class="ui blue labeled submit icon button">
					<i class="icon edit"></i> Envoyer
				</button>
			</form>
			<div class="ui comments">
				<h3 class="ui dividing header">Commentaires</h3>
				<% for (message of messages){ %>
					<div class="comment">
						<a class="avatar">
							<img src="http://www.newsshare.in/wp-content/uploads/2017/04/Miniclip-8-Ball-Pool-Avatar-15.png">
						</a>
						<div class="content">
							<div class="metadata">
								<div class="date">
									<%= message.created_at %>
								</div>
							</div>
							<div class="test"><%= message.content%></div>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</body>
</html>
